<!doctype html>

<!--
 Hello, World.

 If you want you can view the actual source to this website over at
 github.com/jsimmons/jsimmons.github.io

 Stay classy.
-->

<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="/static/site.min.css" />

        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-40186400-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1><a href="/">{{site.title}}</a></h1>

                <dl>
                    <dd><a href="twitter.com/dotstdy">twitter</a></dd>
                    <dd><a href="github.com/jsimmons">github</a></dd>
                </dl>

                <dl>
                    <dd><a href="au.linkedin.com/in/joshrsimmons/">linkedin</a></dd>
                    <dd><a href="mailto:simmons44@gmail.com">simmons44@gmail.com</a></dd>
                </dl>
            </header>
