<!doctype html>

<!--
 Hello, World.

 If you want you can view the actual source to this website over at
 github.com/jsimmons/jsimmons.github.io

 Stay classy.
-->

<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/static/css/site.min.css" />
    </head>

    <body>
        <div class="container">
            <header>
                <ul class="nav nav-pills pull-right">
                    <li><a href="/">Blog</a></li>
                    <li><a href="/about/">About</a></li>
                </ul>

                <h1><a href="/"><b>{{site.title}}</a></b></h1>

                <ul class="list-inline">
                    <li><a href="https://twitter.com/dotstdy">twitter</a></li>
                    <li><a href="https://github.com/jsimmons">github</a></li>
                    <li><a href="mailto:simmons44@gmail.com">email</a></li>
                </ul>
            </header>
